! Xcursor.theme: Ecliz
! Xcursor.theme: Capitaine Cursors
Xcursor.theme: Breeze

st.font: Iosevka XY Sans UI:size=10
st.bold_font: 1
st.borderpx: 0
st.cursorshape: 2
st.termname: xterm-256color
st.alpha: 1
